%h1 Редактирование связи кинотеатра и фильма

= render 'form'
%br
= link_to t("buttons.show"), @cinema_movie, class: 'btn btn-success'
\|
= link_to t("buttons.back"), cinema_movies_path, class: 'btn btn-primary'
