%h1 Редактирование связи фильма и сотрудника

= render 'form'
%br
= link_to t("buttons.show"), @movie_staff, class: 'btn btn-success'
\|
= link_to t("buttons.back"), movie_staffs_path, class: 'btn btn-primary'
